In [1]:
'''this is a comment'''
# this is a comment

'this is a comment'

In [3]:
# legal way of declaring variables 
myname = 'sumanth'
my_name = 'sumanth'
_my_name = "sumanth"
myName = "sumanth"
MyName = "sumanth"
myname72 = 'sumanth'


print(myname, my_name, _my_name,myName, MyName, myname72)

sumanth sumanth sumanth sumanth sumanth sumanth

In [ ]:
# not acceptable ways of declaring a variable 
# 8myname = 'sumanth'
# my-name = 'sumanth'
# my name = "sumanth"

# Camel Case
# myDogName = "randomname"

# Pascal Case 
# MyDogName = "randomname"

# Snake Case 
# my_dog_name = "randomname"

In [8]:
name = "sumanth"
print(" hi there!! i am "+name )
# print(" hi there!! i am " name ) 
print(" hi there!! i am ",name )

 hi there!! i am sumanth
 hi there!! i am  sumanth

In [ ]:
# different values to multiple variables

a,b,c = "apple","banana","cherry"

# same value to multiple variables
x = y= z = "cars"

In [15]:
name = "sumanth"
age = "10" 
residence = " abc palace"

print("my name is "+name, "my age is "+age, "i dwell at "+ residence)

my name is sumanth my age is 10 i dwell at  abc palace

In [21]:
day = "wednesday"
car = "random cars"

def myday():
    print("my lucky day is " + day, " i love riding in " + car )

In [23]:
# myday
# <function __main__.myday()>

In [22]:
myday()

my lucky day is wednesday  i love riding in random cars

In [24]:
print

In [27]:
day = "wednesday"
car = "random cars"

def myday():
    day = "Monday"
    car = "blue cars"
    
    print("my lucky day is " + day, "and i love riding in " + car )

In [26]:
myday()

my lucky day is Monday  i love riding in blue cars

In [28]:
print("my lucky day is " + day, " i love riding in " + car )

my lucky day is wednesday  i love riding in random cars

In [33]:

def mypen():
    global pen
    pen = "reynolds"
    print('i use '+pen)

In [34]:
mypen()

i use reynolds

In [35]:
print('i use '+pen)

i use reynolds

In [38]:
pencil = "apsara"
def myuse():
    global pen
    pencil = "nataraj"
    pen = "reynolds"
    print('i use '+pen)
    print('i use '+ pencil)

In [37]:
print('i use '+ pencil)

i use apsara

In [39]:
myuse()

i use reynolds
i use nataraj