In [3]:
c = "cat"
c.capitalize()

'Cat'

In [4]:
c1 = "cAt"
c.casefold()

'cat'

In [6]:
c = "cat"
c.center(10)

'   cat    '

In [7]:
m = "madam"

m.count('m')

2

In [9]:
my_str = "hey there"
print("the string is ", my_str)
print("the string is ", my_str.encode())

the string is  hey there
the string is  b'hey there'

In [10]:
word = "Sum@n"
word.encode()

b'Sum@n'

In [11]:
Sentence = "hi  !! goodmorning , hope you are having a wonderful day."

Sentence.endswith(".")

True

In [13]:
s = "s\tu\tm\ta\tn"
s.expandtabs(3)

's  u  m  a  n'

In [29]:
s = "thiS IS SUMAN"
s.isupper()
s.lower()
s1 = s.upper()
print(s1)
s.rsplit(", ")

THIS IS SUMAN

['thiS IS SUMAN']

In [22]:
s = "thiS IS SUMAN"
o = s.rsplit(" ")
print(o)

['thiS', 'IS', 'SUMAN']

In [25]:
o = ('thiS IS SUMAN')
o.replace("thiS", "THIS")

'THIS IS SUMAN'

In [30]:
s = "tHiS Is SuMan"
s.swapcase()

'ThIs iS sUmAN'

In [34]:
o = 'this is suman and i love eating '
o.startswith("is")

False

In [33]:
print(10 < 12)

print(10 > 12)

print(10 == 12)

True
False
False

In [36]:
a = 132
b = 23
print(a, "is the value of a")
print(b,"is the value of b")

if a > b: 
    print("a is greater than b")
else: 
    print("b is greater than a")

132 is the value of a
23 is the value of b
a is greater than b

In [40]:
a = input("enter your value in integer format : ")
b = input("enter your value in integer format : ")


print(a, "is the value of a")
print(b,"is the value of b")

if a > b: 
    print("a is greater than b")
else: 
    print("b is greater than a")

enter your value in integer format : 200
enter your value in integer format : 100
200 is the value of a
100 is the value of b
a is greater than b

In [41]:
n = input("enter your name: ")
n1 = input("enter your age: ")

print("my name is ",n)
print('my age is', n1)

enter your name: vamshi
enter your age: 29
my name is  vamshi
my age is 29